/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #4a90e2, #50e3c2); /* Градиент от синего к зеленому */
}

h1 {
  color: #000; /* Белый цвет текста для заголовка */
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Тень для лучшей читаемости */
}

h2 {
  color: #000; /* Белый цвет текста для подзаголовков */
}

div {
  text-align: center;
  margin: 20px auto; /* Центрирование блока */
  padding: 15px; /* Уменьшение внутреннего отступа */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px; /* Максимальная ширина блока */
  width: 90%; /* Ширина блока для мобильных устройств */
}
select {
  padding: 10px;
  margin: 20px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

p {
  font-size: 18px;
  color: #333;
}
